title: "Role"

default:
	title: "Přehled rolí"

create:
	title: "Vytvořit roli"

update:
	title: "Upravit roli"
	userNotFound: "Požadovaná role nebyla nalezena."

permissions:
	name: "Modul role"
	create: "Přidat"
	view: "Zobrazit"
	update: "Upravit"
	remove: "Smazat"

createForm:
	title: "Role"
	name: "Název"
	submit: "Vytvořit roli"
	created: "Role byla úspěšně vytvořena."
	duplicateEntry: "Role s tímto názvem již existuje."

rolesTable:
	title: "Role"
	name: "Název"
	update: "Upravit"
	remove: "Smazat"
	removed: "Role byla úspěšně smazána."
	userNotFound: "Požadovaná role nebyla nalezena."
