title: "Roles"

default:
	title: "All roles"

create:
	title: "Create role"

update:
	title: "Update role"
	userNotFound: "The role was not found."

permissions:
	name: "Roles module"
	create: "Create"
	view: "View"
	update: "Update"
	remove: "Remove"

createForm:
	title: "Role"
	name: "Name"
	submit: "Create role"
	created: "The new role was successfully created."
	duplicateEntry: "Role with this name is already exists."

privileges:
	resource: "Resource"
	privilege: "Privilege"
	title: "Privileges"
	submit: "Update privileges"
	updated: "Privileges was successfully updated."

rolesTable:
	title: "Roles"
	name: "Name"
	update: "Update"
	remove: "Remove"
	removed: "The role was successfully removed."
	roleNotFound: "The role was not found."

updateForm:
	title: "Role"
	name: "Name"
	submit: "Update role"
	updated: "The role was successfully updated."
