title: "Roles"

default:
	title: "All roles"

create:
	title: "Create role"

update:
	title: "Update role"
	userNotFound: "The role was not found."

permissions:
	name: "Roles module"
	create: "Create"
	view: "View"
	update: "Update"
	remove: "Remove"

rolesTable:
	title: "Roles"
	name: "Name"
	update: "Update"
	remove: "Remove"
	removed: "The role was successfully removed."
	roleNotFound: "The role was not found."
